# ========================
# macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride

# ========================
# JetBrains Rider
# ========================
.idea/
*.iml
contentModel.xml
modules.xml
projectSettingsUpdater.xml
workspace.xml
shelf/

# Rider caches
**/rider.project.*
**/*.nuget.g.props
**/*.nuget.g.targets
**/*.nuget.dgspec.json
**/project.assets.json

# ========================
# .NET build output
# ========================
bin/
obj/
**/bin/
**/obj/

# ========================
# Rider HTTP Client
# ========================
httpRequests/

# ========================
# Rider Datasources
# ========================
dataSources/
dataSources.local.xml

# ========================
# Rider Queries
# ========================
queries/
